:root {
    --bg-dark: #0f0f12;
    --bg-card: #1a1a20;
    --accent-color:aqua ;
    --text-color: white ;
}

.card-subtitle{
    color: #ffffff60 !important; 
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color) !important;
    font-weight: bold;

}

body {
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-family: "Bitcount Prop Single", system-ui;
    color: var(--text-color);
}

h1, h2, h3 {
    text-transform: uppercase;
}

.navbar-brand, #navbarNav {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.3s ease; 
}

.nav-link i  {
    font-size: 1.2rem;
    width: 25px;
    text-align: center;
}
.nav-text{
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    margin-left: 0;
}

.nav-link:hover .nav-text{
    opacity: 1;
    max-width: 100px;
    margin-left: 5px;
}
.nav-link:hover {
    color: var(--accent-color) !important;
}



.home-section {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    flex-direction: column; 
    z-index: 1; 
    position: relative; 
}

.back-video {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto; 
    
    object-fit: cover; 
    
    z-index: -1; 
}
.btn-custom{
    
    border: 2px solid;
    border-color: var(--accent-color);
    color: var(--accent-color);
    /* font-family: "Bitcount Prop Single", system-ui; */
    font-weight: bold;
    background-color: transparent;
    transition: transform 0.3s;

}
.btn-custom:hover{
    background-color: var(--accent-color);
    box-shadow: 0 0 15px var(--accent-color);
    transform: scale(1.1);

}

.btn-custom-tools{
    border: 3px solid var(--accent-color);
    color: var(--accent-color);
    transition:  0.3s ease;
}

.btn-custom-tools:hover{
    box-shadow: 0 0 5px var(--accent-color);
    background-color: var(--accent-color);
}

#Game .container .row{
    margin: 10% 0%;

}
.game-img{
    border-radius: 10px;
    border-color: var(--accent-color);
    transition: transform 0.3s;

}
.game-img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--accent-color);
}


.team-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--accent-color);
    transition: transform 0.3s;
}
.team-img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 5px var(--accent-color);
}

.team-card{
    background-color: var(--bg-card);
    transition: transform 0.3s, box-shadow 0.3s;

}
.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    border-bottom: 3px solid var(--accent-color);
}
.snowflake {
    position: fixed;
    top: -10px;
    background: white; /* Màu tuyết */
    width: 5px;       /* Kích thước cơ bản */
    height: 5px;
    opacity: 0.8;
    pointer-events: none; /* Để chuột không bị vướng vào tuyết */
    animation: fall linear forwards;
    z-index: 10;
}

@keyframes fall {
    to {
        transform: translateY(105vh); /* Rơi xuống quá màn hình */
    }
}