:root {
    --bg-dark: #0f0f12;
    --bg-card: #1a1a20;
    --accent-color:aqua ;
    --text-color: white ;
}

.card-subtitle{
    color: #ffffff60 !important; 
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color) !important;
    font-weight: bold;

}

body {
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-family: "Bitcount Prop Single", system-ui;
    color: var(--text-color);
    padding-top: 80px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.navbar-brand, #navbarNav {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.3s ease; 
}

.nav-link i  {
    font-size: 1.2rem;
    width: 25px;
    text-align: center;
}
.nav-text{
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    margin-left: 0;
}

.nav-link:hover .nav-text{
    opacity: 1;
    max-width: 100px;
    margin-left: 5px;
}
.nav-link:hover {
    color: var(--accent-color) !important;
}

#menu-title{
    color: var(--accent-color);
    border: 3px solid;
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
    padding-left: 5px;
}
#menu-title:hover{
    box-shadow: 0 0 15px var(--accent-color);
}

.btn-custom{
    border: 3px solid var(--accent-color);
    color: var(--accent-color);
    transition: 0.3s ease;
    
}
.btn-custom:hover{
    background-color: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
}
#game-1{
    transition: 0.3s ease;
}
.snowflake {
    position: fixed;
    top: -10px;
    background: white; 
    width: 5px;      
    height: 5px;
    opacity: 0.8;
    pointer-events: none; 
    animation: fall linear forwards;
    z-index: 10;
}

@keyframes fall {
    to {
        transform: translateY(105vh); 
    }
}